:root {
  --lc-heading-font-family: "Montserrat", Sans-serif;
  --lc-heading-font-size: 30px;
  --lc-font-size-subheading: 25px;
  --lc-heading-font-weight: 700;

  --lc-body-font-family: "Roboto", Sans-serif;
  --lc-label-font: 20px;
  --lc-normal-font: 20px;
  --lc-input-option-font: 20px;
  --lc-tab-heading-font: 20px;
  --lc-tooltip-font: 12px;
  --lc-font-validation-msg: 15px;
  --lc-shipping-offer-font: 17px;
  --lc-text-note-font: 13px;
  --lc-normal-font-weight: 400;
  --lc-font-weight-500: 500;
  --lc-font-weight-600: 600;
  --lc-label-heading-font-weight: 600;

  --lc-color-yellow: #F8B505;
  --lc-color-navy1: #112A46;
  --lc-color-navy2: #0E3259;
  --lc-color-navy3: #2966AB;
  --lc-color-grey1: #B7C3D0;
  --lc-color-grey2: #ECF4FC;
  --lc-color-grey3: #F6F9FE;
  --lc-border-color-input: #B7C3D0;
  --lc-color-input-text: rgb(40, 48, 61);

  --lc-padding-top-input: 7px;
  --lc-padding-bottom-input: 7px;
  --lc-padding-top-select2: 8px;
  --lc-padding-bottom-select2: 8px;
  --lc-border-radius-input: 6px;
}

.lc input[type="text"].form-control {
  height: calc(1.5em + 0.75rem + 2px) !important;
  border: 1px solid #f8b505;
  background-color: #fef7e6; }

.lc select.form-control {
  height: calc(1.5em + 0.75rem + 2px) !important;
  border: 1px solid #f8b505;
  background-color: #fef7e6; }

.lc textarea.form-control {
  border: 1px solid #f8b505;
  background-color: #fef7e6; }

.lc .select2-selection {
  border: 1px solid #f8b505 !important;
  background-color: #fef7e6 !important; }

.lc .seperator {
  width: calc(100% + 60px);
  border-bottom: 1px solid #9a6618;
  margin: 30px -30px 30px -30px; }

.lc .btn {
  border-radius: 0 !important; }

.lc .btn-mid {
  background-color: #f8b505 !important;
  color: #fff !important; }

.lc .btn-outline-mid {
  border: 1px solid #fbda82 !important;
  color: #fbda82 !important; }

.lc .lc-content {
  font-family: sans-serif; }

.lc select {
  border-radius: 0 !important; }

.lc textarea {
  border-radius: 0 !important; }

.lc-wizard-container {
  background-color: #6B4D02;
  padding: 20px;
  margin-bottom: 100px; }
  .lc-wizard-container .lc-wizard-wrapper {
    padding: 30px;
    border: 1px solid #9a6618; }
    .lc-wizard-container .lc-wizard-wrapper h2 {
      font-size: 1.5em;
      color: #fff; }
  .lc-wizard-container .validation_message {
    background: #dc3545 !important;
    padding: 0 10px;
    width: 100% !important; }
  .lc-wizard-container .c-d-arrow {
    font-size: 15px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: #fbda82;
    color: #6B4D02;
    width: 30px;
    height: 30px; }
  .lc-wizard-container .c-d-arrow i {
    color: #6B4D02;
    line-height: 30px; }
  .lc-wizard-container #rate-container {
    border: 1px solid #dd9933 !important;
    color: #f8b505 !important; }
  .lc-wizard-container .wpcsr-sc-label span {
    color: #f8b505 !important;
    font-size: 1em !important; }
  .lc-wizard-container #wpcsr-parcels table th {
    background-color: #dd9933 !important;
    font-size: 1em !important;
    border: 0 !important;
    padding: 10px 15px 10px 15px; }
  .lc-wizard-container #wpcsr-parcels table td {
    padding: 10px 15px 10px 15px;
    border: 0 !important; }
  .lc-wizard-container button#add_package {
    background-color: #eeeeee;
    border: 1px solid #d93;
    color: #d93;
    font-weight: bold;
    font-size: 1em !important;
    text-transform: capitalize; }
  .lc-wizard-container button#add_package:hover {
    background-color: #fbda82;
    color: #eee; }
  .lc-wizard-container input.get_quote {
    background-color: #64cb64 !important;
    border: 1px solid #64cb64 !important;
    font-weight: bold;
    font-size: 1em !important;
    text-transform: capitalize !important;
    color: #fff !important; }
  .lc-wizard-container input.get_quote:hover {
    background-color: #64cb64 !important; }
  .lc-wizard-container #parcel-dimension input[type="radio"] {
    display: none; }
  .lc-wizard-container .quote_book_wrap {
    margin-bottom: 15px;
    float: right; }
  .lc-wizard-container .lc-select-country {
    border-radius: 0 !important; }
  .lc-wizard-container table.lc-packages th {
    background-color: #f8b505 !important;
    border: 0 !important; }
  .lc-wizard-container table.lc-packages tbody {
    background: #fbda82 !important; }
  .lc-wizard-container table.lc-packages tr {
    background: #fbda82 !important; }
  .lc-wizard-container table.lc-packages .btn-remove-package {
    border: 1px solid #f8b505;
    color: #f8b505;
    cursor: pointer;
    height: 35px; }
  .lc-wizard-container table.lc-packages .btn-remove-package:hover {
    background-color: #fbda82;
    color: #f8b505; }
  .lc-wizard-container table.lc-packages td {
    border: 0 !important; }
  .lc-wizard-container .input-group-text {
    border-radius: 0 !important;
    border: 1px solid #f8b505 !important;
    border-left: 0 !important; }
  .lc-wizard-container .lc-input {
    border-radius: 0 !important; }
  .lc-wizard-container .lc-input::placeholder {
    color: #bbb !important;
    opacity: 1; }
  .lc-wizard-container .lc-radio {
    padding: 5px 15px;
    background-color: #fef7e6;
    border-radius: 20px;
    margin-right: 15px;
    min-width: 150px;
    text-align: center;
    cursor: pointer;
    color: #6B4D02;
    display: inline-block; }
  .lc-wizard-container .lc-radio.active {
    background-color: #dd9933 !important;
    color: #fff !important;
    box-shadow: inset 0 0 10px #fdbe18; }
  .lc-wizard-container .lc-radio input {
    display: none; }
  .lc-wizard-container .lc-option {
    background-color: #fbda82;
    color: #6B4D02 !important; }
  .lc-wizard-container .btn-shipping-option {
    height: 100%;
    width: 100%; }
  .lc-wizard-container .lc-carrier-branding {
    background-color: #f8b505;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }
    .lc-wizard-container .lc-carrier-branding img {
      height: 100px;
      width: 100px; }
  .lc-wizard-container .sm-summary .sm-summary-destination {
    color: #fbda82 !important;
    position: relative; }
    .lc-wizard-container .sm-summary .sm-summary-destination div {
      display: block;
      margin-left: 45px; }
  .lc-wizard-container .sm-summary .sm-destination-a::before {
    background-size: cover;
    content: url(../img/dest-a.svg);
    height: 40px;
    width: 40px;
    display: block;
    color: #fbda82 !important;
    position: absolute;
    left: 5px;
    top: 0; }
  .lc-wizard-container .sm-summary .sm-destination-b::before {
    background-size: cover;
    content: url(../img/dest-b.svg);
    height: 40px;
    width: 40px;
    display: block;
    color: #fbda82 !important;
    position: absolute;
    left: 5px;
    top: 0; }
  .lc-wizard-container .sm-summary .sm-parcel::before {
    background-size: cover;
    content: url(../img/parcel.svg);
    height: 40px;
    width: 40px;
    display: block;
    color: #fbda82 !important;
    position: absolute;
    left: 5px;
    top: 0; }
  .lc-wizard-container .items_fields {
    padding: 15px;
    background-color: #dd993357; }
    .lc-wizard-container .items_fields .package_item {
      padding: 15px 45px 30px 60px;
      border: 1px solid #f8b505;
      border-bottom: 0;
      position: relative; }
      .lc-wizard-container .items_fields .package_item label {
        color: #f8b505; }
      .lc-wizard-container .items_fields .package_item select {
        border-radius: 0; }
      .lc-wizard-container .items_fields .package_item .item_number {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 30px;
        background: #f8b50585;
        text-align: center;
        color: #fff;
        line-height: 50px;
        font-weight: bold;
        font-size: 18px; }
      .lc-wizard-container .items_fields .package_item .remove_item {
        position: absolute;
        top: 0;
        right: 0;
        height: 30px;
        width: 30px;
        background: #f8b50585;
        text-align: center;
        color: #fff;
        line-height: 30px;
        font-weight: normal;
        font-size: 14px;
        cursor: pointer !important; }
    .lc-wizard-container .items_fields .package_item:last-child {
      border-bottom: 1px solid #f8b505; }

.lc-loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #f8b505;
  color: #fff; }
  .lc-loading-screen .wrapper {
    text-align: center;
    position: relative;
    height: 100%; }
    .lc-loading-screen .wrapper .content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: fit-content;
      height: fit-content; }
      .lc-loading-screen .wrapper .content img {
        width: 20em; }
      .lc-loading-screen .wrapper .content p {
        margin-top: 50px;
        font-size: 3em; }

.ui-autocomplete {
  position: absolute;
  cursor: default;
  z-index: 999999999 !important; }

#search[type="text"] {
  width: 400px;
  box-sizing: border-box;
  position: absolute;
  background-color: white;
  background-repeat: no-repeat;
  padding: 6px 10px 6px 20px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  font-size: 24px;
  color: black; }

#search:focus {
  border: 2px solid #87cefa; }

.ui-menu {
  font-family: sans-serif;
  background-color: white;
  padding: 0 10px; }

.entry ul li {
  list-style-type: none !important; }

.entry ol,
.entry ul {
  padding-left: 0 !important; }

.iti.iti--allow-dropdown {
  width: 100% !important;
  margin-top: 1rem !important; }

.lc .iti {
  margin-top: 1rem !important; }
  .lc .iti .iti__flag-container {
    right: unset;
    left: 0; }
  .lc .iti input {
    padding-left: 42px !important; }

.calendar-table th {
  background: #fff;
  color: #333;
  font-weight: bold;
  padding: 0; }

.calendar-table td {
  background: #fff;
  padding: 0; }

.calendar-table select {
  border: 2px solid #34495e; }

.lc .is-invalid-select .select2-selection {
    border-color: #dc3545 !important;
}  
span.monde-req {
  color: #dc3545;
  font-size: 1.4em;
  line-height: 18px;
}
.lc input[type="text"].form-control.is-invalid {
  border-color: #dc3545;
}
.lc-wizard-container .items_fields .package_item .remove_item_cd {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  background: #f8b50585;
  text-align: center;
  color: #fff;
  line-height: 30px;
  font-weight: normal;
  font-size: 14px;
  cursor: pointer !important;
}

/* start grid utility classes */
.lc-grid {
  display: grid;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.gap-0 {
  gap: 0px;
}
.gap-1 {
  gap: 0.25rem;  /* 4px */
}
.gap-2 {
  gap: 0.5rem;  /* 8px */
}
.gap-3 {
  gap: 0.75rem;  /* 12px */
}
.gap-4 {
  gap: 1rem;  /* 16px */
}
.gap-5 {
  gap: 1.25rem;  /* 20px */
}
.gap-6 {
  gap: 2rem;  /* 32px */
}
.gap-7 {
  gap: 3rem;  /* 48px */
}
.gap-8 {
  gap: 4rem;  /* 64px */
}
.gap-10 {
  gap: 5rem;  /* 80px */
}

.grid-justify-start {
  justify-content: start;
}
.grid-justify-center {
  justify-content: center;
}
.grid-justify-end {
  justify-content: end;
}
.grid-justify-between {
  justify-content: space-between;
}
.grid-justify-around {
  justify-content: space-around;
}
.grid-justify-evenly {
  justify-content: space-evenly;
}

.grid-justify-items-start {
  justify-items: start;
}
.grid-justify-items-center {
  justify-items: center;
}
.grid-justify-items-end {
  justify-items: end;
}
.grid-justify-items-stretch {
  justify-items: stretch;
}

.grid-justify-self-start {
  justify-self: start;
}
.grid-justify-self-center {
  justify-self: center;
}
.grid-justify-self-end {
  justify-self: end;
}
.grid-justify-self-stretch {
  justify-self: stretch;
}

.grid-align-start {
  align-content: start;
}
.grid-align-center {
  align-content: center;
}
.grid-align-end {
  align-content: end;
}
.grid-align-between {
  align-content: space-between;
}
.grid-align-around {
  align-content: space-around;
}
.grid-align-evenly {
  align-content: space-evenly;
}

.grid-align-items-start {
  align-items: start;
}
.grid-align-items-center {
  align-items: center;
}
.grid-align-items-end {
  align-items: end;
}
.grid-align-items-stretch {
  align-items: stretch;
}

.grid-align-self-start {
  align-self: start;
}
.grid-align-self-center {
  align-self: center;
}
.grid-align-self-end {
  align-self: end;
}
.grid-align-self-stretch {
  align-self: stretch;
}


/* md */
@media screen and (min-width:768px) {
  .md-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .md-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .md-gap-0 {
    gap: 0px;
  }
  .md-gap-1 {
    gap: 0.25rem;  /* 4px */
  }
  .md-gap-2 {
    gap: 0.5rem;  /* 8px */
  }
  .md-gap-3 {
    gap: 0.75rem;  /* 12px */
  }
  .md-gap-4 {
    gap: 1rem;  /* 16px */
  }
  .md-gap-5 {
    gap: 1.25rem;  /* 20px */
  }
  .md-gap-6 {
    gap: 2rem;  /* 32px */
  }
  .md-gap-7 {
    gap: 3rem;  /* 48px */
  }
  .md-gap-8 {
    gap: 4rem;  /* 64px */
  }
  .md-gap-10 {
    gap: 5rem;  /* 80px */
  }

  .md-grid-justify-start {
    justify-content: start;
  }
  .md-grid-justify-center {
    justify-content: center;
  }
  .md-grid-justify-end {
    justify-content: end;
  }
  .md-grid-justify-between {
    justify-content: space-between;
  }
  .md-grid-justify-around {
    justify-content: space-around;
  }
  .md-grid-justify-evenly {
    justify-content: space-evenly;
  }
  
  .md-grid-justify-items-start {
    justify-items: start;
  }
  .md-grid-justify-items-center {
    justify-items: center;
  }
  .md-grid-justify-items-end {
    justify-items: end;
  }
  .md-grid-justify-items-stretch {
    justify-items: stretch;
  }

  .md-grid-justify-self-start {
    justify-self: start;
  }
  .md-grid-justify-self-center {
    justify-self: center;
  }
  .md-grid-justify-self-end {
    justify-self: end;
  }
  .md-grid-justify-self-stretch {
    justify-self: stretch;
  }
  
  .md-grid-align-start {
    align-content: start;
  }
  .md-grid-align-center {
    align-content: center;
  }
  .md-grid-align-end {
    align-content: end;
  }
  .md-grid-align-between {
    align-content: space-between;
  }
  .md-grid-align-around {
    align-content: space-around;
  }
  .md-grid-align-evenly {
    align-content: space-evenly;
  }
  
  .md-grid-align-items-start {
    align-items: start;
  }
  .md-grid-align-items-center {
    align-items: center;
  }
  .md-grid-align-items-end {
    align-items: end;
  }
  .md-grid-align-items-stretch {
    align-items: stretch;
  }
  
  .md-grid-align-self-start {
    align-self: start;
  }
  .md-grid-align-self-center {
    align-self: center;
  }
  .md-grid-align-self-end {
    align-self: end;
  }
  .md-grid-align-self-stretch {
    align-self: stretch;
  }
}

/* lg */
@media screen and (min-width:1024px) {
  .lg-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .lg-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .lg-gap-0 {
    gap: 0px;
  }
  .lg-gap-1 {
    gap: 0.25rem;  /* 4px */
  }
  .lg-gap-2 {
    gap: 0.5rem;  /* 8px */
  }
  .lg-gap-3 {
    gap: 0.75rem;  /* 12px */
  }
  .lg-gap-4 {
    gap: 1rem;  /* 16px */
  }
  .lg-gap-5 {
    gap: 1.25rem;  /* 20px */
  }
  .lg-gap-6 {
    gap: 2rem;  /* 32px */
  }
  .lg-gap-7 {
    gap: 3rem;  /* 48px */
  }
  .lg-gap-8 {
    gap: 4rem;  /* 64px */
  }
  .lg-gap-10 {
    gap: 5rem;  /* 80px */
  }

  .lg-grid-justify-start {
    justify-content: start;
  }
  .lg-grid-justify-center {
    justify-content: center;
  }
  .lg-grid-justify-end {
    justify-content: end;
  }
  .lg-grid-justify-between {
    justify-content: space-between;
  }
  .lg-grid-justify-around {
    justify-content: space-around;
  }
  .lg-grid-justify-evenly {
    justify-content: space-evenly;
  }
  
  .lg-grid-justify-items-start {
    justify-items: start;
  }
  .lg-grid-justify-items-center {
    justify-items: center;
  }
  .lg-grid-justify-items-end {
    justify-items: end;
  }
  .lg-grid-justify-items-stretch {
    justify-items: stretch;
  }

  .lg-grid-justify-self-start {
    justify-self: start;
  }
  .lg-grid-justify-self-center {
    justify-self: center;
  }
  .lg-grid-justify-self-end {
    justify-self: end;
  }
  .lg-grid-justify-self-stretch {
    justify-self: stretch;
  }
  
  .lg-grid-align-start {
    align-content: start;
  }
  .lg-grid-align-center {
    align-content: center;
  }
  .lg-grid-align-end {
    align-content: end;
  }
  .lg-grid-align-between {
    align-content: space-between;
  }
  .lg-grid-align-around {
    align-content: space-around;
  }
  .lg-grid-align-evenly {
    align-content: space-evenly;
  }
  
  .lg-grid-align-items-start {
    align-items: start;
  }
  .lg-grid-align-items-center {
    align-items: center;
  }
  .lg-grid-align-items-end {
    align-items: end;
  }
  .lg-grid-align-items-stretch {
    align-items: stretch;
  }
  
  .lg-grid-align-self-start {
    align-self: start;
  }
  .lg-grid-align-self-center {
    align-self: center;
  }
  .lg-grid-align-self-end {
    align-self: end;
  }
  .lg-grid-align-self-stretch {
    align-self: stretch;
  }
}

/* xl */
@media screen and (min-width:1280px) {
  .xl-grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl-grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .xl-grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl-grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .xl-gap-0 {
    gap: 0px;
  }
  .xl-gap-1 {
    gap: 0.25rem;  /* 4px */
  }
  .xl-gap-2 {
    gap: 0.5rem;  /* 8px */
  }
  .xl-gap-3 {
    gap: 0.75rem;  /* 12px */
  }
  .xl-gap-4 {
    gap: 1rem;  /* 16px */
  }
  .xl-gap-5 {
    gap: 1.25rem;  /* 20px */
  }
}
/* end grid utility classes */


/* start global labal form */
.lc-form-container input::-webkit-input-placeholder { 
  color: var(--lc-color-grey1);
}
.lc-form-container input::-moz-placeholder { 
  color: var(--lc-color-grey1);
}
.lc-form-container input:-ms-input-placeholder { 
  color: var(--lc-color-grey1);
}

.lc-link {
	color: var(--lc-color-navy3);
}
.lc-form-container {
	color: #112A46;
  font-family: "Roboto", sans-serif;
  font-weight: var(--lc-normal-font-weight);
}
.lc-form-control > label {
	font-size: var(--lc-label-font);
	font-weight: var(--lc-normal-font-weight);
	margin: 0;
	display: block;
}

.lc-form-control  input {
	border: 1px solid var(--lc-border-color-input) !important;
	line-height: 1 !important;
	border-radius: var(--lc-border-radius-input) !important;
	font-size: var(--lc-label-font);
	padding-top: var(--lc-padding-top-input) !important;
	padding-bottom: var(--lc-padding-bottom-input) !important;
  width: 100%;
}
.lc-form-control textarea {
	border: 1px solid var(--lc-border-color-input) !important;
	line-height: 1 !important;
	border-radius: var(--lc-border-radius-input) !important;
	font-size: var(--lc-label-font);
	width: 100%;
}
.lc-form-control .lc-form-control-cr label {
	font-size: var(--lc-input-option-font);
	font-weight: var(--lc-normal-font-weight);
	margin: 0;
	align-items: center;
	display: flex;
	gap: 7px;
	line-height: 1;
}
.lc-form-control .lc-form-control-cr input[type="radio"] {
	border: 1px solid #46535E !important;
	border-radius: 50% !important;
	position: relative;
	transition: all .1s linear;
	width: 20px !important;
	height: 20px !important;
}
.lc-form-control .lc-form-control-cr input[type="radio"]:checked {
	border: 0 !important;
	box-shadow: 0px 0px 0px 3px #96B4D5;
	background-color: var(--lc-color-navy1) !important;
	width: 20px !important;
	height: 20px !important;
}
.lc-form-control .lc-form-control-cr input[type="radio"]::after {
	content: "";
	display: block;
	left: 50%;
	top: 50%;
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: var(--lc-color-grey3);
	transform: translate(-50%, -50%);
}
.lc-form-control .select2-container--default {
  width: 100% !important;
}
.lc-form-control .select2-container--default .select2-selection--single {
	border: 1px solid var(--lc-border-color-input);
	border-radius: var(--lc-border-radius-input);
	font-size: var(--lc-label-font);
	padding-top: var(--lc-padding-top-select2) !important;
	padding-bottom: var(--lc-padding-bottom-select2) !important;
	height: auto;
}
.lc-form-control.bg-grey .select2-container--default .select2-selection--single {
	background-color: var(--lc-color-grey3);
}
.lc-form-control.bg-grey input {
	background-color: var(--lc-color-grey3) !important;
}
.lc-form-control .select2-container--default .select2-selection--single .select2-selection__rendered {
	color: var(--lc-color-input-text);
	line-height: 1;
  padding-left: 10px;
}
.is-dark-theme input[type="search"]:focus {
	outline-color: rgba(0, 0, 0, 0) !important;
}
.select2-results {
  color: var(--lc-color-input-text);
  font-size: var(--lc-label-font);
}
.lc-form-control > label i {
	margin-left: 5px;
}
.lc-tooltip {
  opacity: 1 !important;
}
.lc-tooltip .tooltip-arrow::before {
  border-top-color: var(--lc-color-grey2) !important;
}
.lc-tooltip .tooltip-inner {
  background-color: var(--lc-color-grey2);
  color: var(--lc-color-input-text);
  box-shadow: 0 2px 24px 0 rgba(0,0,0,0.15);
  font-size: var(--lc-tooltip-font);
}
.measurement-instruction {
	position: relative;
	display: block;
}
.measurement-instruction span {
	position: absolute;
	right: 8px;
	font-size: var(--lc-label-font);
	font-weight: var(--lc-normal-font-weight);
	top: 50%;
	transform: translateY(-50%);
	color: var(--lc-border-color-input);
}
.lc-form-control-cr {
  grid-template-columns: fit-content(200px) fit-content(200px);
}
.lc-form-control .validation_message {
	font-size: var(--lc-font-validation-msg);
  color: red !important;
}
.lc-btn-blue {
	background-color: var(--lc-color-navy3) !important;
	color: #fff !important;
}
.modal-header .btn-close {
	background-color: rgba(0, 0, 0, 0) !important;
}
input[type="radio"]:checked:focus {
	outline-offset: 0 !important;
	outline: 0 !important;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, .site textarea:focus {
	outline-offset: 0 !important;
	outline: 0 !important;
}
.select2.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 100%;
}
.btn.lc-button {
	font-size: var(--lc-label-font);
}
.form-control:focus {
	border-color: var(--lc-border-color-input) !important;
	box-shadow: none !important;
}
select.form-control {
	border-color: var(--lc-border-color-input) !important;
	padding-top: var(--lc-padding-top-input) !important;
	padding-bottom: var(--lc-padding-bottom-input) !important;
	color: var(--lc-color-navy1) !important;
	font-size: var(--lc-label-font) !important;
	line-height: 1.2;
}
.lc-form-control.not-edditable-fields {
	pointer-events: none;
}
.lc-link:focus {
	background: rgba(0, 0, 0, 0) !important;
	color: var(--lc-color-navy3) !important;
}
.lc-form-control input[type="checkbox"] + label, 
.lc-form-control input[type="radio"] + label {
	vertical-align: middle;
}
.lc-form-control input[type="checkbox"]:focus {
	outline-offset: 0 !important;
	outline: none !important;
	box-shadow: none !important;
}
.lc-form-control input[type="checkbox"]::after {
  content: none !important;
	/* left: 8px !important;
	top: 3px !important;
	border: 3px solid #fff !important; */
}
.lc-form-control input[type="checkbox"]:checked {
  background-color: var(--lc-color-navy1) !important;
}
.lc-form-control .form-check-input {
  margin-top: 0 !important;
}
/* end global labal form */

/* start labal form home step */
#rqf_validation_msg {
  display: none;
}
.lc-home-step-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.quote-form-heading {
  font-size: 16px;
  font-weight: var(--lc-label-heading-font-weight);
}
.quote-form-heading > * {
	background-color: var(--lc-color-grey2);
	color: var(--lc-color-navy1);
	cursor: pointer;
	position: relative;
	font-size: 30px;
	font-family: var(--lc-heading-font-family);
}
.quote-form-heading > .active {
  background-color: var(--lc-color-navy1);
  color: #fff;
}
.quote-form-heading i {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.quote-form-quick {
	grid-template-columns: 1fr;
}
.form-quick-left-wrapper {
	grid-template-columns: 1fr;
}
.btn-quote {
	background-color: var(--lc-color-navy2) !important;
	color: #fff !important;
	font-size: var(--lc-normal-font);
	font-weight: var(--lc-normal-font-weight);
	font-family: var(--lc-body-font-family);
}
.lc-home-step-grid-man img {
	max-height: 300px;
}
.heading-full-quote {
	border-top-left-radius: .375rem;
}
.heading-quick-quote {
	border-top-right-radius: .375rem;
}
.quote-form-area {
	background-color: var(--lc-color-grey3);
	position: relative;
	z-index: 9;
}
.lc-home-step-grid-content {
	position: relative;
}
.quote-form-img {
	position: absolute;
}
.add-duplicate-package a {
	color: var(--lc-color-navy3);
	font-size: var(--lc-label-font);
  text-decoration: underline;
}
.add-duplicate-package span {
  color: var(--lc-color-navy3);
	font-size: var(--lc-label-font);
  display: block;
}
.packages-wrapper .single-package:not(:last-child) .add-duplicate-package-options > span:nth-child(-n+2) {
	display: none;
}
.packages-wrapper .single-package:last-child .add-duplicate-package-options > span:last-child {
	display: none;
}
.btn-quote-full {
	min-width: 150px;
}
.full-quote-bottom {
	background-color: var(--lc-color-grey2);
}
.lc-loading-modal, .lc-common-loading {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 999999;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
  display: none;
}
.lc-loading-modal .wrapper .content, .lc-common-loading .wrapper .content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: fit-content;
	height: fit-content;
	background: var(--lc-color-grey3);
	color: var(--lc-color-navy1);
	max-width: 750px;
	padding: 5rem;
	border-radius: 15px;
	text-align: center;
}
.lc-common-loading .wrapper .content {
	background: none;
	padding: 0;
	color: var(--lc-color-yellow);
	font-size: 5rem;
}
.lc-loading-modal .wrapper .content img {
	max-width: 150px;
	margin-bottom: 30px;
}
.lc-loading-modal .wrapper .content h3 {
	font-weight: 500;
}
.lc-home-step-grid-box {
	position: relative;
}
.form-quick-right {
	margin-top: 18px;
}

@media screen and (max-width:500px) {
  .lc-home-step-grid-content {
    grid-column: 1 / span 2;
  }
  .lc-home-step-grid-man {
    grid-row: 2 / 3;
  }
  .quote-form-img {
    display: none;
  }
  .single-package > div:nth-child(2) label,
  .single-package > div:nth-child(3) label,
  .single-package > div:last-child label {
    display: none;
  }
  .add-duplicate-package {
    grid-column: auto;
  }
  .lc-loading-modal .wrapper .content {
    padding: 1.5rem;
  }
  .quote-form-heading > * {
    font-size: 24px;
  }
  .quote-form-heading i {
    display: none;
  }
}

@media screen and (min-width:768px) {
  .lc-home-step-grid {
    grid-template-columns: 10% calc(80% - 16px) 10%;
    grid-auto-flow: column;
  }
  .form-quick-left-wrapper {
    grid-template-columns: 1fr 1fr 80px;
  }
  .quote-form-quick {
    grid-template-columns: 1fr 120px;
  }
  .quote-form-heading {
    font-size: var(--lc-tab-heading-font);
    position: relative;
    z-index: 1;
  }
  .quote-form-img.quote-form-img-top {
    left: 0px;
    top: -45px;
  }
  .quote-form-img.quote-form-img-bottom {
    right: 0;
    bottom: -30px;
  }
  .add-duplicate-package span {
    font-size: 17px;
  }
  .add-duplicate-package a {
    font-size: 17px;
  }
  .lc-form-control.add-duplicate-package.text-end {
    grid-column: 3;
  }
}

@media screen and (min-width:1024px) {
  .lc-home-step-grid {
    grid-template-columns: 15% 70% 15%;
  }
  .form-quick-left-wrapper {
    grid-template-columns: 1fr 1fr 150px;
  }
  .quote-form-img.quote-form-img-top {
    left: -40px;
    top: -65px;
  }
  .quote-form-img.quote-form-img-bottom {
    right: -50px;
    bottom: -40px;
  }
  .add-duplicate-package a {
    font-size: var(--lc-label-font);
  }
  .add-duplicate-package span {
    font-size: var(--lc-label-font);
  }
}
/* end labal form home step */

/* start shipping offers page */
.single-shipping-details > label {
	font-size: var(--lc-label-font);
	font-weight: var(--lc-font-weight-500);
	margin: 0;
	display: block;
}
.single-shipping-details > span {
	font-size: var(--lc-shipping-offer-font);
	margin: 0;
	display: block;
  line-height: 1.5;
}
.lc-shipping-details-wrapper {
  grid-template-columns: repeat(2, 1fr);
}
.single-shipping-details > * {
	line-height: 2;
}
.single-shipping-offer {
	border: 1px solid var(--lc-border-color-input);
}
.shipping-offer-top > img {
	max-height: 70px;
}
.shipping-offer-info-details {
	grid-template-columns: 1fr;
}
.lc-shipping-offers-area {
	font-size: var(--lc-normal-font);
}
.shipping-info-estimated-pricing h3 {
  font-weight: var(--lc-font-weight-600);
}
.btn.lc-yellow-btn.rounded {
	background-color: var(--lc-color-yellow) !important;
	padding: .5rem 1.5rem;
	margin: .2rem 0;
	display: block;
	color: var(--lc-color-navy1) !important;
}
.lc-text-note {
  font-size: var(--lc-text-note-font);
}
.shipping-offer-footer {
	background-color: var(--lc-color-navy1);
	color: #fff;
	cursor: pointer;
	border-bottom-right-radius: .375rem;
	border-bottom-left-radius: .375rem;
	position: relative;
}
.shipping-offer-bottom {
	background-color: var(--lc-color-grey2);
  padding: 1.5rem;
  display: none;
}
.single-shipping-offer {
	overflow: hidden;
}
#faqModal .modal-header {
	border: 0;
}
#faqModal .accordion-button {
	background: rgba(0, 0, 0, 0);
	font-size: 22px;
	font-weight: 400;
	color: var(--lc-color-navy3);
}
#faqModal .accordion-button:focus {
	box-shadow: none;
}
#faqModal .accordion-body {
	background-color: var(--lc-color-grey2);
	font-size: var(--lc-normal-font);
  color: var(--lc-color-navy1);
}
.lc-shipping-details-area {
	background-color: var(--lc-color-grey2);
}

@media screen and (max-width:500px) {
  .lc-shipping-details-wrapper > div:nth-child(3) {
    grid-column: span 2;
  }
  .lc-shipping-details-wrapper > div:nth-last-child(1),
  .lc-shipping-details-wrapper > div:nth-last-child(2) {
    grid-column: span 2;
  }
  .single-shipping-details-edit-btn button {
    width: 100%;
  }
}

@media screen and (min-width:768px) {
  .lc-shipping-details-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
  .single-shipping-details-edit-btn {
    grid-column: span 3;
  }
  .lc-shipping-offers-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width:1024px) {
  .lc-shipping-details-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
  .single-shipping-details-edit-btn {
    grid-column: 4 / span 2;
    grid-row: 1;
  }
  .lc-shipping-offers-area {
    grid-template-columns: 1fr;
  }
  .shipping-offer-info-details {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* end shipping offers page */

/* start shipping calculator page */
.lc-shipping-tips-area.rounded {
	border: 1px solid var(--lc-color-navy1);
}
.lc-shipping-tips-area {
  position: relative;
}
.lc-shipping-tips > h5 {
	text-transform: uppercase;
	font-weight: 600;
}
ul.lc-ul-shipping-tips {
	margin: 0;
	padding-left: 18px;
	margin-top: 20px;
}
ul.lc-ul-shipping-tips li {
	margin-bottom: 10px;
  font-size: var(--lc-normal-font);
}
.tips-sidebar-img {
	position: absolute;
	right: 50px;
	bottom: calc(100% - 50px);
}
.lc-shipping-tips {
	position: relative;
	background-color: var(--lc-color-grey3);
}
.lc-shipping-calculator .quote-form-img.quote-form-img-bottom {
	bottom: 100px;
}
#tipsModal .modal-content {
	background-color: var(--lc-color-grey3);
}
.btn-tips {
	position: fixed;
	right: 0;
	top: 135px;
	background-color: var(--lc-color-navy1) !important;
	color: #fff !important;
	border-radius: 4px 0 0 4px !important;
	z-index: 10;
}
.bike-grass-roads {
	position: relative;
	text-align: center;
}
.bike-grass-roads img:first-child {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}
.bike-grass-roads img:last-child {
	width: 100%;
}
.bike-grass-roads-area {
	margin: 150px 0 60px;
}

@media screen and (max-width:500px) {
  .lc-shipping-calculator .quote-form-img.quote-form-img-bottom {
    display: none;
  }
  .bike-grass-roads img:first-child {
    max-width: 170px;
  }
}

@media screen and (min-width:768px) {
  .shipping-calculator-wrapper {
    grid-template-columns: calc(75% - 3rem) 25%;
  }
}

@media screen and (min-width:1024px) {
  .shipping-calculator-wrapper {
    grid-template-columns: calc(75% - 5rem) 25%;
  }
}
/* end shipping calculator page */

/* start additional info page */
.heading-courier-steps {
	font-size: var(--lc-heading-font-size);
  font-family: var(--lc-heading-font-family);
  font-weight: var(--lc-heading-font-weight);
}
.lc-courier-steps {
  padding-left: 5px;
  padding-right: 5px;
	box-shadow: 0px 1px 4px .1rem rgba(0,0,0,.075);
	grid-template-columns: repeat(6, 1fr);
}
.lc-courier-steps span i {
	color: var(--lc-color-yellow);
	margin-right: 10px;
}
.lc-courier-steps span {
	position: relative;
	padding: 10px 0 0;
}
.lc-courier-steps span::before {
	content: "";
	height: 4px;
	width: 100%;
	position: absolute;
	background: var(--lc-color-grey2);
	left: 0;
	top: 0;
}
.lc-courier-steps span:first-child::before,
.lc-courier-steps span:first-child::after {
  border-radius: 4px 0 0 4px;
}
.lc-courier-steps span:last-child::before,
.lc-courier-steps span:last-child::after {
  border-radius: 0 4px 4px 0;
}
.lc-courier-steps span::after {
	content: "";
	height: 4px;
	width: 100%;
	position: absolute;
	background: var(--lc-color-navy1);
	left: 0;
	top: 0;
}
.lc-courier-steps span.current::after {
	width: 50%;
}
.lc-courier-steps span.current ~ span::after {
	width: 0%;
}
.info-sub-heading-area {
	grid-template-columns: 3fr 1fr;
}
.heading-courier-steps {
	font-size: var(--lc-font-size-subheading)
}
.info-section-wrapper{
  background-color: #fff;
  padding: 32px;
  display: none;
}
.info-section-wrapper-outer {
  border-bottom: 1px solid var(--lc-border-color-input);
}
.info-fields-heading {
	font-weight: 700;
} 
.info-section-wrapper .lc-form-control input,
.info-section-wrapper .lc-form-control .select2-container--default .select2-selection--single {
	background-color: #fff !important;
}
.form-control-phone-grid {
	grid-template-columns: 30% 70%;
}
.form-control-phone-grid .info-phone-code {
	border-right: 0 !important;
	border-radius: var(--lc-border-radius-input) 0 0 var(--lc-border-radius-input) !important;
  padding-left: 42px !important;
}
.form-control-phone-grid .phone_numeber_field {
	border-radius: 0 var(--lc-border-radius-input) var(--lc-border-radius-input) 0 !important;
}
.lc-btn-back {
	border: 1px solid #000 !important;
}
.info-sub-heading-area span {
	cursor: pointer;
}

@media screen and (max-width:500px) {
  .lc-courier-steps span {
    font-size: 14px;
  }
  .lc-courier-steps span i {
    margin-right: 0;
    display: block;
  }
  .lc-shipping-details-wrapper .single-shipping-details:first-child,
  .lc-shipping-details-wrapper .single-shipping-details:nth-child(2) {
    grid-column: span 2;
  }
}

@media screen and (min-width:768px) {
  .lc-courier-steps {
    padding-left: 20px;
    padding-right: 20px;
  }
  .courier-steps-page .lc-shipping-details-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .courier-steps-page .lc-shipping-details-wrapper > div:first-child {
    grid-column: span 2;
  }
  .form-control-phone-grid {
    grid-template-columns: 35% 65%;
  }
  .form-control-phone-grid .info-phone-code {
    padding-left: 35px !important;
  }
  .info-form-top-wrapper .lc-form-control:first-child {
    grid-column: span 2;
  }
  .save-to-address-book {
    grid-column: 3;
  }
}

@media screen and (min-width:1024px) {
  .lc-courier-steps {
    padding-left: 100px;
    padding-right: 100px;
  }
  .form-control-phone-grid {
    grid-template-columns: 30% 70%;
  }
  .form-control-phone-grid .info-phone-code {
    padding-left: 42px !important;
  }
}
/* end additional info page */

/* start pickup page */
.lc-text-note-pickup {
	font-size: 16px;
}
.lc-steps-btn-area.has-border {
	border-top: 1px solid var(--lc-border-color-input);
	padding-top: 2rem;
}
.lc-pickup-location-area .lc-form-control textarea {
	background-color: #fff !important;
}
#map_lc_dropoff {
	width: 100%;
	height: 400px;
}
.pickup-map-left {
	height: 600px;
	border: 1px solid var(--lc-border-color-input);
	overflow-y: scroll;
}
.single-pickup-location-details {
	margin-bottom: 20px;
}
.pickup-map-left .single-pickup-location-details:last-child {
	margin-bottom: 0px;
}
.single-pickup-location-details p {
	line-height: 1.3;
	margin-bottom: 5px;
}
.opening-hours-expand {
	background-color: var(--lc-color-navy1);
	color: #fff;
	cursor: pointer;
	position: relative;
}
.opening-hours-grid-wrapper {
	display: none;
}
.single-pickup-location-details {
	border-top: 1px solid var(--lc-border-color-input);
}
.pickup-map-left .single-pickup-location-details:first-child {
	border-top: 0;
}
.no-dropoff {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media screen and (min-width:768px) {
  #map_lc_dropoff {
    height: 600px;
  }
  .pickup-map-right {
    grid-column: span 2;
  }
  .single-pickup-location-details {
    font-size: 18px;
  }
}
@media screen and (min-width:1024px) {
  #map_lc_dropoff {
    height: 600px;
  }
  .single-pickup-location-details {
    font-size: var(--lc-normal-font);
  }
}


/* end pickup page */

/* start custom declaration page */
.div-own-invoice-area {
	background-color: var(--lc-color-grey2);
	border-radius: 4px 4px 0 0;
}
.single-declaration-item-bottom {
	background-color: var(--lc-color-grey2);
}
.single-declaration-item-bottom .lc-form-control input {
	background-color: var(--lc-color-grey2) !important;
}
.single-declaration-item-bottom .lc-form-control .select2-container--default .select2-selection--single {
	background-color: var(--lc-color-grey2);
}
.lc-declaration-items-area .single-declaration-item:last-child .add-duplicate-package-options span:last-child {
	display: none;
}
.lc-declaration-items-area .single-declaration-item:not(:last-child) .add-duplicate-package-options span:first-child {
	display: none;
}
#input_upload_invoice {
	background: var(--lc-color-grey2) !important;
}
.lc-declaration-items-area .single-declaration-item:last-child .single-declaration-item-bottom {
	border-radius: 0 0 .375rem .375rem;
}
.lc-declaration-items-area {
	border: 2px solid var(--lc-color-navy1);
}
.single-declaration-item {
	border-bottom: 2px solid var(--lc-color-navy1);
}
.lc-declaration-items-area .single-declaration-item:last-child {
	border-bottom: 0;
}

@media screen and (min-width:1024px) {
  /* .select-type-document,
  .declaration-remarks {
    max-width: 50%;
  } */
}
/* end custom declaration page */

/* start confirm booking page */

.confirm-booking-top-wrapper {
	border-bottom: 1px solid var(--lc-border-color-input);
}
.single-booking-details label {
	display: block;
}

@media screen and (max-width:767px) {
  .confirm-booking-bottom .single-booking-details:first-child, 
  .confirm-booking-bottom .single-booking-details:nth-child(2) {
    grid-column: span 2;
  }
  #frm_checkout .lc-form-control.d-flex {
    flex-wrap: wrap;
  }
  #frm_checkout .lc-form-control.d-flex label {
    width: calc(100% - 35px);
  }
}
/* end confirm booking page */

/* start download document page */
.btn-lc-download {
	border: 1px solid #262836 !important;
	color: var(--lc-color-navy1) !important;
	font-size: 20px !important;
}

.btn-lc-download:hover {
  border: 1px solid #262836 !important;
}
/* end download document page */

/* start login registration page */
.lc-lr-wrapper {
	min-height: 800px;
}
.lc-lr-left {
	border-radius: .375rem 0 0 .375rem;
	position: relative;
}
.lc-login-page .lc-lr-left {
  background-image: url('../img/login-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.lr-form-heading {
	font-size: 35px;
}
.lr-facebook {
	background: #0478FF;
}
.lr-social-btn {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 45px;
	box-shadow: 0 .125rem .25rem rgba(0,0,0,.2) !important;
	height: 45px;
}
.lr-google i {
  color: var(--lc-color-yellow);
}
.lr-facebook i {
	color: #fff;
}

.lr-form-footer-left {
  display: flex;
  gap: 15px;
}
.lc-lr-left img {
	position: absolute;
	left: calc(100% - 8px);
	bottom: 20px;
}

@media screen and (max-width:767px) {
  .lc-lr-wrapper {
    min-height: unset;
  }
  .lc-lr-left {
    min-height: 200px;
  }
  .lr-form-footer-right {
    grid-row: 1;
  }
  .lr-form-footer-right button {
    width: 100%;
  }
  .lr-form-footer-left {
    flex-direction: column;
  }
  .lr-social-btn {
    width: 100%;
    height: auto;
  }
  .lr-google  span {
    color: var(--lc-color-navy1);
  }
  .lc-lr-left img {
    position: absolute;
    right: 0;
    top: calc(100% - 7px);
    left: unset;
  }
}

@media screen and (min-width:768px) {
  .lc-lr-right {
    grid-column: span 2;
  }
}

@media screen and (min-width:1024px) {
  .lc-lr-right {
    grid-column: span 1;
  }
}
/* end login registration page */

.form-control.is-invalid, .was-validated .form-control:invalid {
	border-color: #dc3545 !important;
	background-image: none !important;
}

/* start global customer dashboard */
.a-new-shipment {
 border: 1px solid var(--lc-color-navy1);
 color: var(--lc-color-navy1);
}
.dashboard-menu-wrapper ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.dashboard-menu-wrapper {
  border-right: 1px solid var(--lc-color-grey1);
}
.ul-dashboard-menu li a {
	color: var(--lc-color-navy1);
	font-size: var(--lc-normal-font);
}
.ul-dashboard-menu li i {
	margin-right: 10px;
}
.ul-dashboard-menu li.active a {
	color: var(--lc-color-navy3);
	text-decoration: underline;
}
.lc-dashboard-mbl-menu .dropdown-toggle::after {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}
.lc-dashboard-mbl-menu .dropdown-toggle:focus {
	background-color: rgba(0, 0, 0, 0) !important;
	color: var(--lc-color-navy1) !important;
}
.dropdown-menu.ul-dashboard-menu {
	background: var(--lc-color-grey3);
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	border-top: 0;
	border-radius: 0 0 .375rem .375rem;
}
.ul-dashboard-menu li a:hover {
	color: var(--lc-color-navy3);
}
.lc-dashboard-right-wrapper {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}
.is-dark-theme .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
	background: none !important;
}

@media screen and (min-width:768px) {
  .lc-dashboard-right {
    grid-column: span 3;
  }
  .dashboard-menu-wrapper {
    min-height: 400px;
  }
  .lc-dashboard-right {
    padding-left: 2rem;
  }
}

@media screen and (min-width:1024px) {
  .lc-dashboard-right {
    padding-left: 5rem;
  }
}
/* end global customer dashboard */

/* start customer dashboard profile */
.profile-img span {
	width: 100px;
	padding: 5px;
	background: #fff;
	box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, .1);
	height: 100px;
	border-radius: 50%;
}
.profile-img span img {
	max-width: 100%;
	border-radius: 50%;
	object-fit: cover;
}


@media screen and (max-width:767px) {
  .profile-img span {
    margin: 0 auto;
  }
}

/* end customer dashboard profile */

/* start promo code and invite friend pages */
.lc-promo-code-page .lc-dashboard-right-wrapper {
	box-shadow: none;
}
.promo-code-wrapper {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
  font-size: var(--lc-font-size-subheading);
}
.lc-invite-friend-page .lc-dashboard-right-wrapper {
	border: 1px dashed #0E3259;
	border-radius: 8px;
	background-color: #FAF5EA;
	box-shadow: none;
}
.invite-friend-wrapper h2 {
	font-size: 30px;
	font-weight: 500;
}
.invitation-link {
	background: #fff;
	border: 1px solid var(--lc-color-navy1);
}
.invite-friend-share-area {
	border-top: 1px solid var(--lc-color-navy1);
	justify-content: space-evenly;
	padding-top: 40px;
}
.invite-friend-share-area a {
	background: var(--lc-color-navy1);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

/* end promo code and invite friend pages */

/* start my shipment page */
.lc-shipment-page .lc-dashboard-right-wrapper {
	border-top: 20px solid var(--lc-color-navy1);
}
.lc-shipment-table-heading, .lc-shipment-table-body {
	grid-template-columns: repeat(6, minmax(min-content, 1fr));
	border-bottom: 1px solid var(--lc-color-grey1);
}
.lc-shipment-table-heading span {
	line-height: 1.2;
}
.lc-shipment-table-body > * {
	color: #464A5E;
	font-size: 15px;
	line-height: 1.2;
}
.lc-shipment-table .lc-shipment-table-body:last-child {
	border: 0;
}
.print-shipment button {
	background: var(--lc-color-navy1) !important;
	color: #fff !important;
}
.print-shipment .dropdown-menu a {
	display: block;
	color: #464A5E;
}
.print-shipment .dropdown-menu a:hover {
	color: var(--lc-color-navy3);
}

@media screen and (max-width:767px) {
  .lc-shipment-page .lc-dashboard-right-wrapper {
    overflow-x: scroll;
  }
  .lc-shipment-table {
    width: min-content;
  }
  .lc-shipment-table-heading, .lc-shipment-table-body {
    grid-template-columns: repeat(6, minmax(80px, 1fr));
  }
}
/* end my shipment page */

/* start tracking page */
.heading-track-shipment.mb-4 {
	font-size: 35px;
	text-transform: uppercase;
	font-family: var(--lc-heading-font-family);
	font-weight: 700;
}
.lc-track-shipment.lc-form-container {
	max-width: 700px;
}
#result_area {
  display: none;
}
/* end tracking page */

/* start address book page */
.address-book-subheading {
	font-size: var(--lc-font-size-subheading);
	border-bottom: 1px solid var(--lc-color-grey1);
}
.address-info-name.has-default {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.address-info-name.has-default span {
	font-size: 15px;
}
.single-address-book {
	font-size: 18px;
}
/* end address book page */

.lc-link.link-forgot-password {
	font-size: 16px;
}
.btn-close {
	background-color: transparent !important;
}

.lc-form-control.bg-grey select {
	background-color: var(--lc-color-grey3);
}